<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161423804990-hn979hochdqe0kg82qr8h16pc9nko8ms.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161423804990-hn979hochdqe0kg82qr8h16pc9nko8ms</string>
	<key>API_KEY</key>
	<string>AIzaSyCRo_o2zepZoFyyNz0TIPaZkcpMz33kgWM</string>
	<key>GCM_SENDER_ID</key>
	<string>161423804990</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.kirill.SwiftUIFirebase</string>
	<key>PROJECT_ID</key>
	<string>swiftuifirebase-a34d1</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuifirebase-a34d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161423804990:ios:895058f6004aca6dc81f6f</string>
</dict>
</plist>